<!doctype html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="sub-nov">
		&emsp;<a href="{:U('/')}">首页</a>
	</div>
	<div class="content">
		<h3>每天休假规则：</h3>
		事假、病假、带薪病假-4或8小时<br> 调休-0.5至8小时均可(已加入0.5小时调休单位，选择“调休.5”请假类型即可)<br> 年假、婚假、医疗期-8小时<br>
		<hr>
		<!-- h3>
			<font color=red>关键说明(必看)：</font>
		</h3>
		a.以2016年2月加班为例，该表命名格式为：Daniel_Lai_201602.xlsx<br> b.备注区一旦填写，则需要人工更新(会跳过数据自动更新)，有特殊情况才填写内容，否则留空<br> c.加班时长、累计加班、累计调休、累计请假无须填写(也无法选中)，自动计算<br> d.申请人可以在名单中选择，也支持自定义输入 <br>e.需要删除信息时，选中单元格区域按delete键或鼠标右键清空内容都可，切勿删除单元格导致单元格相对移动<br>
		f.该表只用于记录加班/休假事件天，当日若无加班/休假，则当日空行，当月若无加班/休假，则当月不用交表。<br> [任意天填写了正确的加班/休假事件信息，将会自动填充颜色代表生效(加班-浅绿，休假-浅黄)，否则数据行无效] <br> g.反转作息专为法定节假日或补班补充，勾选后则反转该日作息(将工作日转为节假日，周末转为工作日)<br>
		[例如：2016年4月4日是星期一，但也是清明节，勾选反转后，该日由正常工作日变为节假日，相应加班规则也会变化。同理周末若为正常上班，也需要勾选反转，以调整加班休假规则]<br> [勾选后会出现“休息“或“工作”备注字样，原为工作，勾选后为休息，原为休息，勾选后变为工作]<br>
		<hr-->
		<h3>工作日加班时间计算公式：</h3>
		当日13:30以前来上班的,加班时间=（下班时间-上班时间)-（9.5-请假时长）<br>当日13:30后来上班的,加班时间=（下班时间-上班时间)-（8.5-请假时长）<br> [标准工作时长=办公8小时+午饭1小时+晚饭0.5小时=9.5小时，超出时间为加班] <br>[如当天出现休假，则相应办公8小时时长要降低，当日只需工作(8-休假时长)小时即可，超出时间为加班，当休假满8小时后，当日无法再加班] <br>[当日上班时间13:30前后的区别在于，前者需要扣除午餐1小时，后者无须再扣除]<br>
		[比如我当天上午调休2小时，然后我下午13:30来上班，我只需要工作6小时+晚餐0.5小时(即工作到20:00)，超出即为加班] <br>[比如我当天上午调休2小时，然后我上午11:30来上班，我还需要工作6小时+午餐1小时+晚餐0.5小时(即工作到19:00)，超出即为加班]
		<hr>
		<h3>周末加班时间计算公式：</h3>
		加班小于5小时的，加班时间=(下班时间-上班时间) <br>加班时间大于等于5小时，加班时间=（下班时间-上班时间-1）<br> [意思就是超过5小时的，默认你需要吃一顿工作餐，故扣去1小时，但当日最多也只扣1小时]<br> [我不会告诉你：你从10点加到15点，与10点加到14点的加班时间没有区别，都是4小时,前者满5小时所以扣减了1小时]
	</div>
</body>
</html>