<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>宇翔科技登陆界面</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/md5.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/times.js"></script>
<script type="text/javascript">	var ajaxurl = '{:U("/Home/Ajax/reg")}'</script>
<script type="text/javascript" src="__PUBLIC__/js/register.js"></script>
</head>
<body onload="showLeftTime()">
	<div class="login-mask">
		<img class="backimg" src="__PUBLIC__/images/back.jpg">
	</div>
	<div class="top">
		<div class="top-logo">
			<img alt="" src="__PUBLIC__/images/logo.png">
		</div>
		<div class="top-name">
			<div class="top-name-cn">考勤管理系统1.0V</div>
		</div>
		<div class="top-info">
			<div class="top-info-date">
				<label id="show">显示时间的位置</label>
			</div>

		</div>
	</div>
	<div class="reg-center">
		<form action='{:U("/Home/Register/register")}' method="post" id="registerFrom" name="registerFrom" enctype="multipart/form-data">
			<table class="reg-tab" width="100%">
				<tbody>
					<tr>
						<th colspan="2" style="font-size: 28px;">注册帐号</th>
					</tr>
					<tr>
						<td>姓&emsp;&emsp;名：</td>
						<td><input class="reg-tab-input" id="loginname" name="loginname" value="" type="text"></td>
					</tr>
					<tr>
						<td>密&emsp;&emsp;码：</td>
						<td><input class="reg-tab-input" id="loginword" name="loginword" value="" type="password"></td>
					</tr>
					<tr>
						<td>确认密码：</td>
						<td><input class="reg-tab-input" id="loginword2" value="" type="password"></td>
					</tr>
					<tr>
						<td>部&emsp;&emsp;门：</td>
						<td><select class="text-select" name="dept_id" id="dept_id">
								<option value="">请选择部门</option>
								<foreach name='depts' item='v'>
								<option value="{$v.id}">{$v.deptname}</option>
								</foreach>
							</select></td>
					</tr>
					<tr>
						<td>联系电话：</td>
						<td><input class="reg-tab-input" id="telephone" name="telephone" value="" type="text"></td>
					</tr>
					<tr>
						<td>邮箱地址：</td>
						<td><input class="reg-tab-input" id="email" name="email" value="" type="text"></td>
					</tr>
					<tr>
						<td>二寸照片：</td>
						<td><input style="weith: 28px;" id="photo" name="photo" value="" type="file">3:4</td>
					</tr>
					<tr>
						<th colspan="2"><input type="button" class="btn btn-primary btn150" value="注册" id="register"> <input type="reset" class="btn btn-primary btn150" value="重置"></th>
					</tr>
					<tr>
						<th colspan="2">
							<div id="message">&emsp;</div>
						</th>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div class="login-end">
		<div class="top-info-bottom">
			<a href="{:U('/Home/Login')}">帐号登陆</a>
		</div>
	</div>
</body>
</html>